<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input 
    formControlName="username" 
    type="text" 
    class="form-control" 
    id="username">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.cannotContainSpace">Username can not contain space</div>
      <div *ngIf="username.errors.minlength">username should be minimum {{ username.errors.minlength.requiredLength }} characters </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input 
    formControlName="password" 
    type="text" 
    class="form-control" 
    id="password">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.cannotContainSpace">Password can not contain space</div>
      <div *ngIf="password.errors.minlength">Password should be minimum {{ password.errors.minlength.requiredLength }} characters </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign Up</button>
</form>