<footer class="footer">
  <div class="row footer__up">
    <ul class="col-md-3 footer__up_box">
      <h4>ARDI</h4>
      <li><a>col-1 item1</a></li>
      <li><a>col-1 item2</a></li>
      <li><a>col-1 item3</a></li>
    </ul>
    <ul class="col-md-3 footer__up_box">
      <h4>Allergic Meal</h4>
      <li><a>Vegan</a></li>
      <li><a>col-2 item2</a></li>
      <li><a>col-2 item3</a></li>
    </ul>
    <ul class="col-md-3 footer__up_box">
      <h4>Best Rank Recipes</h4>
      <li><a>col-3 item1</a></li>
      <li><a>col-3 item2</a></li>
      <li><a>col-3 item3</a></li>
    </ul>
    <ul class="col-md-3 footer__up_box">
      <h4>Contact Us</h4>
      <li><a>col-4 item1</a></li>
      <li><a>col-4 item2</a></li>
      <li><a>col-4 item3</a></li>
    </ul>
  </div>

  <div class="footer__down">
    <div class="footer__down_text">
      <p>&reg; All Rights Reserved by Ardi Nasiri 2019</p>
    </div>
    
    <div class="footer__down_icon">
      <i class="fab fa-telegram"></i>
      <i class="fab fa-whatsapp-square"></i>
      <i class="fas fa-envelope-square"></i>
    </div>
  </div>

</footer>
