
<select class="mb-3" name="category" id="" (change)="filterBy($event.target.value)">
  <option value=""><em>choose category...</em></option>
  <option *ngFor="let c of categories" [value]="c">{{c}}</option>
</select>
<div class="row">
  <div class="input-group mb-3 searchField">
    <input type="text" class="form-control form-control-lg" (keyup)="searchMeal($event)" placeholder="Search for meal..." aria-label="search" aria-describedby="basic-addon1">
  </div>
</div>
<table class="table">
    <thead>
        <th></th>
        <th>Author</th>
        <th>Meal</th>
        <th>Allergic type</th>
        <th>Category</th>
        <th>Rank</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes$">
        <td *ngIf="recipe.meal.image" ><img style="cursor: pointer;" width="100px" src="{{ recipe.meal.image }}" (click)="view(recipe.id)"/></td>
        <td>{{ recipe.author}}</td>           
        <td>{{recipe.meal.name}}</td>                 
        <td>{{recipe.meal.allergic_type}}</td>                 
        <td>{{recipe.meal.type}}</td>
        <td>{{ recipe.rating }}</td>
        <td style="display: flex">
          <button type="button" class="btn btn-warning" [disabled]="!loggedIn" (click)="edit(recipe.id)" >
            Edit
          </button>
          <button type="button" class="btn btn-danger" [disabled]="!loggedIn" (click)="delete(recipe.id)" >
            Delete
          </button>
        </td>
      </tr>              
    </tbody>
</table>
<a class="btn btn-primary" routerLink="/recipe/new" [class.disabled]="!loggedIn" >add</a>

<div class="row">
  <button (click)="getRecipesPrev(links.prev)" *ngIf="links.prev">Prev</button>&nbsp;
  &nbsp;<button (click)="getRecipesNext(links.next)" *ngIf="links.next">Next</button>
</div>
