
<select name="category" id="" (change)="filterBy($event.target.value)">
  <option value=""><em>choose category...</em></option>
  <option *ngFor="let c of categories" [value]="c">{{c}}</option>
</select>

<table class="table">
    <thead>
        <th></th>
        <th>Author</th>
        <th>Meal</th>
        <th>Allergic type</th>
        <th>Category</th>
        <th>Rank</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes$">
        <td *ngIf="recipe.meal.image" ><img style="cursor: pointer;" width="100px" src="{{ recipe.meal.image }}" (click)="view(recipe.id)"/></td>
        <td>{{ recipe.author}}</td>           
        <td>{{recipe.meal.name}}</td>                 
        <td>{{recipe.meal.allergic_type}}</td>                 
        <td>{{recipe.meal.type}}</td>
        <td>{{ recipe.rating }}</td>
        <td style="display: flex">
          <button type="button" class="btn btn-info" (click)="edit(recipe.id)">
            Edit
          </button>
          <button type="button" class="btn btn-warning" (click)="delete(recipe.id)">
            Delete
          </button>
        </td>
      </tr>              
    </tbody>
</table>

<button (click)="getRecipesPrev(links.prev)">Prev</button>
<button (click)="getRecipesNext(links.next)">Next</button>

<a class="btn btn-primary" routerLink="/recipe/new">add</a>