<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/recipe">Recipe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
      <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
      <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
      <a class="navbar-brand" routerLink="myfav" *ngIf="loggedIn">My Favorite</a>


  </div>
</nav>
