html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;

  &:focus {
      outline: 0;
  }
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

p {
  margin: 0;
}


// Fonts

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p, label {
  font-family: 'Roboto Slab', serif;
}

ul, li, a {
  font-family: 'Heebo', sans-serif;
}
