$device-bps: ('mobile': (max-width: 567px),
'tablet': '(min-width: 568px) and (max-width: 1024px)',
'desktop': (min-width: 1025px));

@mixin respond-to($devices...) {
    @each $device in $devices {
        @media #{map-get($device-bps, $device)} {
            @content;
        }
    }
}

@mixin container() {
    width: 100%;
    padding-left: $spacing;
    padding-right: $spacing;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(tablet) {
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;
    }

    @include respond-to(desktop) {
        max-width: 1600px;
        padding-left: $spacing-large;
        padding-right: $spacing-large;
    }
}

@mixin divider() {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $light-gray;
        width: 100%;
    }
}

@mixin container-divider() {
    @include divider;

    &::after {
        left: auto;
        width: calc(100% + #{$spacing * 2});

        @include respond-to(tablet) {
            width: calc(100% + #{$spacing-medium * 2});
        }

        @include respond-to(desktop) {
            width: calc(100% + #{$spacing-large * 2});
        }
    }
}

@mixin truncate-text($ellipsis: true) {
    white-space: nowrap;
    overflow: hidden;

    @if ($ellipsis == true) {
        text-overflow: ellipsis;
    }
}
