/* You can add global styles to this file, and also import other style files */

@import "styles/normalize";

@import "styles/functions";
@import "styles/mixins";
@import "styles/variables";
@import "styles/grid";

@import "styles/base";
@import "styles/typography";
@import "styles/button";
@import "styles/app";
@import "styles/fonts";
@import "styles/generals";

.form-control.ng-touched.ng-invalid {
  border-left: 5px solid red;
}

.form-control.ng-touched.ng-valid {
  border-left: 5px solid green;
}

.btn-primary:disabled {
  background-color: gray;
}
